@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  user-select: none;
}
:root {
  --correct: #66bb6a;
  --wrong: #ef5350;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa8e;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 700px;
  overflow: hidden;
  background-color: #f7fafd2a;
  border: 1px solid #cce4ff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  background-color: #fff;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #cce4ff;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em !important;
  font-weight: bold;
  font-weight: 500;
  z-index: 5;
  color: #777;
  height: 48px;
  width: 48px;
  border: 2px solid #cce4ff;
  border-radius: 50%;
}

.Questions-bar {
  display: flex;
  align-items: center;
  height: 65px;
  border-radius: 15px;
  padding-right: 25px;
  gap: 10px;
}

.step {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #61616117;
  font-size: 1.4em;
  font-weight: 500;
}

.step.correct {
  color: var(--correct);
  background-color: transparent;
}

.step.wrong {
  color: var(--wrong);
  background-color: transparent;
}
.step.current {
  font-size: 2.2em;
  background-color: #cce4ff;
}

.title {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  height: 70px;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}
.options li {
  padding: 11px 35px;
  border-radius: 10px;
  width: 500px;
  font-weight: 600;
  color: #303030;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 2px solid #cce4ff;
}

.options li.selected {
  background-color: #cce4ff;
  color: #fff;
}
.options li.correct {
  background-color: var(--correct);
  color: #fff;
  border: 2px solid var(--correct);
}
.options li.wrong {
  background-color: var(--wrong);
  border: 2px solid var(--wrong);
  color: #fff;
}
.options li.correct::before {
  content: "\f00c";
}
.options li.wrong::before {
  content: "\f00d";
}
.options li::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #fff;
}
button {
  padding: 15px 65px;
  font-size: 19px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #555;
  width: 200px;
  margin-bottom: 35px;
  font-weight: 500;
  border: 3px solid #cce4ff;
  cursor: pointer;
}

.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  z-index: 100;
}

h3 {
  text-align: center;
  width: 100%;
  color: #434343;
}
.settings-overlay .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.settings-overlay ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-bottom: 65px;
  width: 80%;
  gap: 15px;
}

.settings-overlay ul li {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.settings-overlay ul li:nth-of-type(even) {
  justify-content: flex-end;
}
.counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 12px;
}
.counter-button span {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: #cce4ff;
}
.counter-button span:active {
  color: #55555591;
}
.counter-button .value {
  font-size: 24px;
  pointer-events: none;
  color: #555;
  border-radius: 25px;
  font-weight: 500;
}
